# Cleaning

In [1]:
#dependencies

import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import csv 
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Store CSV into DataFrame
districts = "Resources/districts.csv"
naep = "Resources/naep.csv"
states = "Resources/states.csv"


naep_pd = pd.read_csv(naep)
districts_pd = pd.read_csv(districts)
states_pd = pd.read_csv(states)

In [15]:
#Naep_pd focus:
#naep_states.csv: Aggregated results from the National Assessment of Educational Progress (NAEP) for states.
#focusing on 4th & 8th grades 
# year ranges from 1990-2017, but missing 91, 93, 95, 97,99, 2001, 05, 06, 08, 10, 14, 16: total 15 years  

#print(naep_pd)
#naep_pd['YEAR'].unique()
#naep_pd['AVG_SCORE'].value_counts()
    # there is null values being shown as: "-- & ‡" on AVG_SCORE cloumn
    #To clean and change it to 0:
#mask1 = (naep_pd['AVG_SCORE'] == '—')
#naep_pd['AVG_SCORE'][mask1] = 0
#mask2 = (naep_pd['AVG_SCORE'] == '‡')
#naep_pd['AVG_SCORE'][mask2] = 0

#naep_pd['TEST_SUBJECT'].value_counts()
#naep_pd['TEST_YEAR'].value_counts() 
#naep_pd['TEST_YEAR'].unique()



#naep_pd.columns
naep_pd.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   YEAR       STATE         AVG_SCORE TEST_SUBJECT  TEST_YEAR
0  2017     Alabama  232.170687741509  Mathematics          4
1  2017      Alaska  230.456277558902  Mathematics          4
2  2017     Arizona  234.435788152091  Mathematics          4
3  2017    Arkansas  233.848143678937  Mathematics          4
4  2017  California  232.262940994562  Mathematics          4

In [19]:
#Clean up for SQL

#rename for lowercase columns 
naep_pd = naep_pd.rename(columns={'YEAR': 'year',
                                 'STATE': 'state',
                                 'AVG_SCORE': 'avg_score',
                                 'TEST_SUBJECT': 'subject',
                                 'TEST_YEAR': 'grade'})

naep_pd.head()

   year       state         avg_score      subject  grade
0  2017     Alabama  232.170687741509  Mathematics      4
1  2017      Alaska  230.456277558902  Mathematics      4
2  2017     Arizona  234.435788152091  Mathematics      4
3  2017    Arkansas  233.848143678937  Mathematics      4
4  2017  California  232.262940994562  Mathematics      4

In [20]:
#downloading naep as a csv seperately, so can be used later 
naep_pd.to_csv('naep.csv', index =False)

In [23]:
districts_pd.head()
#Notes 
    # Revenue comes from income taxes per state, local taxes, fed funds, local misch
    # the data frame splits that: Total: fed, state, local
    # TCURINST: Total current spending for instruction
    # TCURSSVC: Total current spending for support services
    # TCURONON: Other current spending
    # TCAPOUT: Total capital outlay expenditure

# Ensuring values has no "unknown values"

#districts_pd['TOTALREV'].value_counts()
#districts_pd['TFEDREV'].value_counts()
#districts_pd['TLOCREV'].value_counts()
#districts_pd['TOTALEXP'].value_counts()
#districts_pd['TCURINST'].value_counts()
#districts_pd['TCURSSVC'].value_counts()
#districts_pd['TCURONON'].value_counts()
#districts_pd['TCAPOUT'].value_counts()


districts_pd.head(500)

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486
5,Alabama,7870.0,BLOUNT COUNTY SCHOOL DISTRICT,2016,69966,6929,48563,14474,68297,37442,22662,5500.0,2193
6,Alabama,1477.0,ONEONTA CITY SCHOOL DISTRICT,2016,13464,992,8541,3931,12726,6999,3758,1541.0,214
7,Alabama,1505.0,BULLOCK COUNTY SCHOOL DISTRICT,2016,14876,3061,9273,2542,14713,6996,6006,1542.0,31
8,Alabama,3135.0,BUTLER COUNTY SCHOOL DISTRICT,2016,32062,6439,18770,6853,31393,16091,10523,2950.0,471
9,Alabama,2099.0,ANNISTON CITY SCHOOL DISTRICT,2016,23776,4344,11810,7622,24320,12649,9344,1890.0,413
10,Alabama,9054.0,CALHOUN COUNTY SCHOOL DISTRICT,2016,86559,8361,54887,23311,93475,45298,31384,7137.0,8288
11,Alabama,1544.0,JACKSONVILLE CITY SCHOOL DISTRICT,2016,14925,1563,8599,4763,22806,8696,4489,1186.0,8033
12,Alabama,1247.0,PIEDMONT CITY SCHOOL DISTRICT,2016,11695,1507,7287,2901,11355,6262,3701,1025.0,259
13,Alabama,4171.0,OXFORD CITY SCHOOL DISTRICT,2016,43617,3494,23131,16992,41504,23367,13221,2624.0,900
14,Alabama,3729.0,CHAMBERS COUNTY SCHOOL DISTRICT,2016,35550,5072,21545,8933,35428,18163,12613,3468.0,635
15,Alabama,863.0,LANETT CITY SCHOOL DISTRICT,2016,9413,1648,5717,2048,9419,5161,3057,918.0,232
16,Alabama,4042.0,CHEROKEE COUNTY SCHOOL DISTRICT,2016,40647,4419,24019,12209,41646,20688,13409,3818.0,2851
17,Alabama,7743.0,CHILTON COUNTY SCHOOL DISTRICT,2016,66020,7864,43959,14197,66004,38489,20119,6525.0,263
18,Alabama,1495.0,CHOCTAW COUNTY SCHOOL DISTRICT,2016,17426,2531,8525,6370,15660,6973,6588,1558.0,77
19,Alabama,2717.0,CLARKE COUNTY SCHOOL DISTRICT,2016,28164,4509,16842,6813,28934,13563,10126,3365.0,1188
20,Alabama,1339.0,THOMASVILLE CITY SCHOOL DISTRICT,2016,13572,1334,8364,3874,15018,7378,4821,1075.0,1572
21,Alabama,1978.0,CLAY COUNTY SCHOOL DISTRICT,2016,18425,2182,12797,3446,17663,10178,5356,1714.0,98
22,Alabama,2631.0,CLEBURNE COUNTY SCHOOL DISTRICT,2016,25205,2707,17402,5096,25478,13510,8079,2382.0,691
23,Alabama,2081.0,COFFEE COUNTY SCHOOL DISTRICT,2016,20354,2611,12825,4918,20509,10653,7209,1483.0,930
24,Alabama,615.0,ELBA CITY SCHOOL DISTRICT,2016,7152,993,4367,1792,7238,3824,2705,642.0,0
25,Alabama,6823.0,ENTERPRISE CITY SCHOOL DISTRICT,2016,61888,6348,38269,17271,65966,31061,22834,4742.0,6640
26,Alabama,2638.0,COLBERT COUNTY SCHOOL DISTRICT,2016,31196,3250,15582,12364,30748,15639,10596,2764.0,1698
27,Alabama,1059.0,SHEFFIELD CITY SCHOOL DISTRICT,2016,13779,2114,7041,4624,13310,7088,4453,1316.0,406
28,Alabama,1527.0,TUSCUMBIA CITY SCHOOL DISTRICT,2016,15100,1307,8686,5107,16985,7551,5172,1345.0,2639
29,Alabama,2907.0,MUSCLE SHOALS CITY SCHOOL DISTRICT,2016,29431,1589,15851,11991,28870,16117,9453,2559.0,227
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Arkansas,0.0,ARCH FORD EDUC SERV COOP,2016,18867,1723,9142,8002,18158,3030,13765,890.0,467
471,Arkansas,2285.0,SOUTH CONWAY CO SCH DIST,2016,25055,2460,19382,3213,25361,11390,8456,1149.0,3593
472,Arkansas,577.0,BAY SCHOOL DISTRICT,2016,5929,541,4516,872,5999,3002,2257,399.0,192
473,Arkansas,2350.0,BROOKLAND SCH DIST,2016,24526,1359,20213,2954,28601,11594,5907,1157.0,9312
474,Arkansas,6194.0,JONESBORO SCH DIST,2016,64965,9110,47753,8102,64864,32014,22019,4493.0,4946
475,Arkansas,856.0,RIVERSIDE SCH DIST,2016,10297,843,8678,776,13618,4503,2747,496.0,5623
476,Arkansas,3420.0,NETTLETON SCH DIST,2016,36108,3458,26565,6085,34789,18949,11182,2435.0,765
477,Arkansas,2809.0,VALLEY VIEW SCH DIST,2016,27199,1651,21775,3773,30914,15201,8324,1976.0,4264
478,Arkansas,807.0,BUFFALO ISLAND CENTRAL SCH DT,2016,8075,733,6390,952,8181,4648,2516,321.0,650
479,Arkansas,1778.0,WESTSIDE CONS SCHOOL DIST,2016,16734,1446,13336,1952,15989,8905,5242,1024.0,254
480,Arkansas,3212.0,ALMA SCH DIST 30,2016,32301,3241,25899,3161,31208,16484,10356,1943.0,863
481,Arkansas,830.0,CEDARVILLE SCH DIST 44,2016,8901,1033,7111,757,10922,4609,3122,597.0,2437
482,Arkansas,706.0,MOUNTAINBURG SCH DIST 16,2016,8852,989,7221,642,7228,3675,2805,454.0,165
483,Arkansas,379.0,MULBERRY SCH DIST 101,2016,4572,665,3322,585,4120,1990,1747,294.0,75
484,Arkansas,5897.0,VAN BUREN SCH DIST 42,2016,60483,6415,47687,6381,57144,29987,19654,4034.0,968
485,Arkansas,644.0,EARLE SCH DIST,2016,7835,1396,6038,401,7784,4040,3062,523.0,42
486,Arkansas,5721.0,WEST MEMPHIS SCHOOL DISTRICT,2016,65641,11021,48883,5737,59713,31193,22932,3403.0,1436
487,Arkansas,4132.0,MARION SCH DIST,2016,41765,2595,32699,6471,41012,21151,12059,2037.0,4523
488,Arkansas,665.0,CROSS COUNTY SCHOOL DISTRICT,2016,7919,1187,5406,1326,8523,3301,3918,413.0,644
489,Arkansas,2667.0,WYNNE SCH DIST 9,2016,26700,3072,21034,2594,25850,14549,8799,1622.0,686
490,Arkansas,826.0,FORDYCE SCH DIST 39,2016,11035,1483,8817,735,10678,6645,3073,358.0,388
491,Arkansas,1409.0,DUMAS SCHOOL DISTRICT,2016,15604,2130,11984,1490,15256,7627,5891,716.0,712
492,Arkansas,1227.0,MCGEHEE SCH DIST,2016,13691,1874,10281,1536,13026,7057,4461,848.0,573
493,Arkansas,1035.0,DREW CENTRAL SCH DIST 5,2016,11387,1778,8527,1082,10456,5836,3596,638.0,128
494,Arkansas,2110.0,MONTICELLO SCH DIST 18,2016,22237,2553,17473,2211,22148,11945,7262,1825.0,722
495,Arkansas,0.0,SOUTHEAST ARKANSAS EDUC SERV COOP,2016,12835,3147,6509,3179,24303,3136,7321,2630.0,11216
496,Arkansas,10014.0,CONWAY SCH DIST,2016,104870,8963,81020,14887,112982,53455,34249,5949.0,13277
497,Arkansas,3453.0,GREENBRIER SCHOOL DIST,2016,35008,2208,29454,3346,40677,16888,10237,1170.0,11257
498,Arkansas,394.0,GUY PERKINS SCH DIST,2016,4603,421,3467,715,4320,2339,1621,246.0,36
499,Arkansas,1130.0,MAYFLOWER SCH DIST,2016,11751,1401,9097,1253,10836,5885,3717,668.0,216

In [27]:
#checking & rename
#Checking the sum of the revenue fed, state & local & exp     
    
#districts_pd["TOTALREV"].sum()
    # 11605107285
    
#districts_pd["TSTREV"].sum()
    # 5385272201

#districts_pd["TLOCREV"].sum()
    # 5240915749
    
#districts_pd["TOTALEXP"].sum()
    #11737958705

districts_pd.columns
    
#rename 
districts_pd = districts_pd.rename(columns= {'STATE': 'state',
                                             'ENROLL': 'enroll',
                                             'NAME': 'district',
                                             'YRDATA': 'year',
                                             'TOTALREV': 'total_rev',
                                             'TFEDREV': 'fed_rev',
                                             'TSTREV': 'state_rev',
                                             'TLOCREV': 'local_rev',
                                             'TOTALEXP': 'total_exp',
                                             'TCURINST': 'spending_instruction_cur',
                                             'TCURONON': 'sepnding_supprtsrvcs_curr',
                                             'TCURONON': 'other_curr_spending',
                                             'TCAPOUT': 'capital_outlay_exp'})
districts_pd.head()

,state,enroll,district,year,total_rev,fed_rev,state_rev,local_rev,total_exp,spending_instruction_cur,TCURSSVC,other_curr_spending,capital_outlay_exp
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486

In [28]:
#download as a csv file
districts_pd.to_csv('districts.csv', index=False)

In [91]:
states_pd.head()
    # State vs district csv files have different data --
    # district covers more because of because of different districts within a state, where state csv covers more macro

#cleaning 

#states_pd['STATE'].value_counts()
    # each state shows 25 times

#states_pd['YEAR'].value_counts()
    # each year shows up 51 times, 19992-2016

#states_pd['TOTAL_REVENUE'].value_counts()
#states_pd['FEDERAL_REVENUE'].value_counts()
#states_pd['STATE_REVENUE'].value_counts()
    # There's 0 25's
#states_pd['LOCAL_REVENUE'].value_counts()
#states_pd['TOTAL_EXPENDITURE'].value_counts()
#states_pd['INSTRUCTION_EXPENDITURE'].value_counts()
#states_pd['SUPPORT_SERVICES_EXPENDITURE'].value_counts()
#states_pd['OTHER_EXPENDITURE'].value_counts()
#states_pd['CAPITAL_OUTLAY_EXPENDITURE'].value_counts()

#Checking the total rev & expenses
    # -- will get us an understanding which values or columns to keep 
    
#states_pd["TOTAL_REVENUE"].sum()
    #11605107285

#states_pd["FEDERAL_REVENUE"].sum()
    #978919327
    
#states_pd["LOCAL_REVENUE"].sum()
    #5240915749

#states_pd["TOTAL_EXPENDITURE"].sum()
    #11737958705

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
0,Alabama,1992,NaN,2678885,304177,1659028,715680,2653798,1481703,735036,NaN,174053
1,Alaska,1992,NaN,1049591,106780,720711,222100,972488,498362,350902,NaN,37451
2,Arizona,1992,NaN,3258079,297888,1369815,1590376,3401580,1435908,1007732,NaN,609114
3,Arkansas,1992,NaN,1711959,178571,958785,574603,1743022,964323,483488,NaN,145212
4,California,1992,NaN,26260025,2072470,16546514,7641041,27138832,14358922,8520926,NaN,2044688

In [93]:
# merging naep and districts 
education_df = pd.merge(naep_pd, districts_pd, on = ["YEAR", "STATE"])

education_df.head()

#education_df['ENROLL'].value_counts()
    # O: no recrods of the students enrolled in that district -- 38369

#education_df['YEAR'].value_counts()
    # 94' - 2015
    
#education_df['STATE'].value_counts()
    #dc is there
    
#education_df['TEST_SUBJECT'].value_counts()
    # consistent: Math & reading 

#education_df['TEST_YEAR'].value_counts()
    #consistent: 4th & 8th grade

,YEAR,STATE,AVG_SCORE,TEST_SUBJECT,TEST_YEAR,ENROLL,NAME,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,2015,Alabama,230.977422662321,Mathematics,4,9664.0,AUTAUGA COUNTY SCHOOL DISTRICT,79665,7574,53244,18847,76069,44085,23217,6580.0,691
1,2015,Alabama,230.977422662321,Mathematics,4,30596.0,BALDWIN COUNTY SCHOOL DISTRICT,330317,23602,143282,163433,297083,155668,99682,19535.0,13256
2,2015,Alabama,230.977422662321,Mathematics,4,925.0,BARBOUR COUNTY SCHOOL DISTRICT,10519,2518,5632,2369,10314,5249,3835,1018.0,0
3,2015,Alabama,230.977422662321,Mathematics,4,2829.0,EUFAULA CITY SCHOOL DISTRICT,26076,3374,16048,6654,25602,14887,7494,2184.0,990
4,2015,Alabama,230.977422662321,Mathematics,4,3357.0,BIBB COUNTY SCHOOL DISTRICT,31825,3586,21687,6552,31293,16019,10822,2950.0,858

In [97]:
# merge education and states 
education_finances_df = pd.merge(education_df, states_pd, on = ["STATE", "YEAR", "ENROLL"])

education_finances_df.head()

#education_finances_df.columns

# some columns repeat each other with different values
    #how do we determine which stays and which drops/gets hidden
    
    # -- checking both state & disrticts -- they have consistent total revenue & expenditures
     # but the only issue that the the state & local revenue is different for both csv files. 
        # the state covers state more & district has different districts. 
        # We can keep the state data on state & local revenue and expenses as well

,YEAR,STATE,AVG_SCORE,TEST_SUBJECT,TEST_YEAR,ENROLL,NAME,TOTALREV,TFEDREV,TSTREV,...,TCAPOUT,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
0,2015,District of Columbia,231.307525116183,Mathematics,4,46155.0,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,1382282,146366,0,...,381902,1382282,146366,0,1235916,1360942,557345,379854,41841.0,381902
1,2015,District of Columbia,263.059776256545,Mathematics,8,46155.0,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,1382282,146366,0,...,381902,1382282,146366,0,1235916,1360942,557345,379854,41841.0,381902
2,2015,District of Columbia,212.305347670353,Reading,4,46155.0,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,1382282,146366,0,...,381902,1382282,146366,0,1235916,1360942,557345,379854,41841.0,381902
3,2015,District of Columbia,247.653444946724,Reading,8,46155.0,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,1382282,146366,0,...,381902,1382282,146366,0,1235916,1360942,557345,379854,41841.0,381902
4,2015,Hawaii,237.895806837329,Mathematics,4,182384.0,HAWAII PUBLIC SCHOOLS,2703683,259390,2381547,...,161801,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0,161801

In [102]:
# cleaning up 
education_finances_df = education_finances_df[["YEAR", 'STATE', 'NAME', 'AVG_SCORE', 'TEST_SUBJECT', 'TEST_YEAR', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE']].copy()
#education_finances_df.head()

#education_finances_df = education_finances_df[[ "YEAR", "STATE", "NAME", "ENROLL", "AVG_SCORE", "TEST_SUBJECT", "TEST_YEAR", "TOTAL_REVENUE","INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE", "OTHER_EXPENDITURE"]].copy()


# Get rid of "-" values because this will affect your values on SQL later on 

mask = (education_finances_df['AVG_SCORE'] == '—')
education_finances_df['AVG_SCORE'][mask] = 0

#education_finances_df['OTHER_EXPENDITURE'].unique()

education_finances_df = education_finances_df.fillna(0)


education_finances_df.head(500)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,YEAR,STATE,NAME,AVG_SCORE,TEST_SUBJECT,TEST_YEAR,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE
0,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,231.307525116183,Mathematics,4,1382282,146366,0,1235916,1360942,557345,379854,41841.0
1,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,263.059776256545,Mathematics,8,1382282,146366,0,1235916,1360942,557345,379854,41841.0
2,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,212.305347670353,Reading,4,1382282,146366,0,1235916,1360942,557345,379854,41841.0
3,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,247.653444946724,Reading,8,1382282,146366,0,1235916,1360942,557345,379854,41841.0
4,2015,Hawaii,HAWAII PUBLIC SCHOOLS,237.895806837329,Mathematics,4,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
5,2015,Hawaii,HAWAII PUBLIC SCHOOLS,279.340145034503,Mathematics,8,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
6,2015,Hawaii,HAWAII PUBLIC SCHOOLS,215.124313046421,Reading,4,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
7,2015,Hawaii,HAWAII PUBLIC SCHOOLS,257.35043981355,Reading,8,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
8,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,228.567253872576,Mathematics,4,1300036,129874,0,1170162,1308438,559940,332997,39825.0
9,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,265.259365712508,Mathematics,8,1300036,129874,0,1170162,1308438,559940,332997,39825.0
10,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,205.613936927868,Reading,4,1300036,129874,0,1170162,1308438,559940,332997,39825.0
11,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,247.739153738325,Reading,8,1300036,129874,0,1170162,1308438,559940,332997,39825.0
12,2013,Hawaii,HAWAII PUBLIC SCHOOLS,243.308618941163,Mathematics,4,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
13,2013,Hawaii,HAWAII PUBLIC SCHOOLS,281.412922288425,Mathematics,8,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
14,2013,Hawaii,HAWAII PUBLIC SCHOOLS,214.843879930676,Reading,4,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
15,2013,Hawaii,HAWAII PUBLIC SCHOOLS,259.960569546835,Reading,8,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
16,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,221.808283121753,Mathematics,4,1283071,155505,0,1127566,1297175,525185,389526,56132.0
17,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,260.46687784992,Mathematics,8,1283071,155505,0,1127566,1297175,525185,389526,56132.0
18,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,200.627987932281,Reading,4,1283071,155505,0,1127566,1297175,525185,389526,56132.0
19,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,242.056368171996,Reading,8,1283071,155505,0,1127566,1297175,525185,389526,56132.0
20,2011,Hawaii,HAWAII PUBLIC SCHOOLS,238.82192776062,Mathematics,4,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
21,2011,Hawaii,HAWAII PUBLIC SCHOOLS,277.836211052583,Mathematics,8,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
22,2011,Hawaii,HAWAII PUBLIC SCHOOLS,213.61457117423,Reading,4,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
23,2011,Hawaii,HAWAII PUBLIC SCHOOLS,257.188010446519,Reading,8,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
24,2009,District of Columbia,DC PUBLIC SCHOOLS,219.260141025805,Mathematics,4,801008,75856,0,725152,805362,330698,370127,38514.0
25,2009,District of Columbia,DC PUBLIC SCHOOLS,253.595186871272,Mathematics,8,801008,75856,0,725152,805362,330698,370127,38514.0
26,2009,District of Columbia,DC PUBLIC SCHOOLS,201.984637739722,Reading,4,801008,75856,0,725152,805362,330698,370127,38514.0
27,2009,District of Columbia,DC PUBLIC SCHOOLS,242.490424305314,Reading,8,801008,75856,0,725152,805362,330698,370127,38514.0
28,2009,Hawaii,HAWAII PUBLIC SCHOOLS,235.679780829025,Mathematics,4,2689758,392837,2205032,91889,2318671,1402305,718309,129473.0
29,2009,Hawaii,HAWAII PUBLIC SCHOOLS,273.758606683625,Mathematics,8,2689758,392837,2205032,91889,2318671,1402305,718309,129473.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1992,Alaska,YUKON-KOYUKUK REAA,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
471,1992,Alaska,BRISTOL BAY BORO SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
472,1992,Alaska,FAIRBANKS N STAR BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
473,1992,Alaska,HAINES BOROUGH SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
474,1992,Alaska,KENAI PENINSULA BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
475,1992,Alaska,KETCHIKAN-GATEWAY BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
476,1992,Alaska,NORTHWEST ARTIC BORO SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
477,1992,Alaska,KODIAK ISLAND BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
478,1992,Alaska,MATANUSKA SUSITNA,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
479,1992,Alaska,NORTH SLOPE BOROUGH SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
480,1992,Alaska,ALEUTIANS EAST BORO SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
481,1992,Alaska,LAKE AND PENINSULA BORO SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
482,1992,Alaska,UNALASKA CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
483,1992,Alaska,ANCHORAGE SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
484,1992,Alaska,DILLINGHAM CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
485,1992,Alaska,JUNEAU BOROUGH SCHOOLS DISTRICT,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
486,1992,Alaska,NOME CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
487,1992,Alaska,CRAIG CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
488,1992,Alaska,HYDABURG CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
489,1992,Alaska,KLAWOCK CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
490,1992,Alaska,SITKA BOROUGH SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
491,1992,Alaska,HOONAH CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
492,1992,Alaska,PELICAN CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
493,1992,Alaska,SKAGWAY CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
494,1992,Alaska,YAKUTAT CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
495,1992,Alaska,CORDOVA CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
496,1992,Alaska,VALDEZ CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
497,1992,Alaska,ST. MARYS SCHOOL DISTRICT,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
498,1992,Alaska,KAKE CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
499,1992,Alaska,PETERSBURG CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0

In [103]:
#csv file that can be used for SQL later 
education_finances_df.to_csv('education_sql.csv', index=False)

In [104]:
#renaming the columns for cleaning purposes 

education_finances_df = education_finances_df.rename(columns={'YEAR': 'Year',
                                                             'STATE': 'State',
                                                             'NAME': 'District Name',
                                                             'AVG_SCORE': 'Average Score',
                                                             'TEST_SUBJECT': 'Test Subject',
                                                             'TEST_YEAR': 'Grade Year',
                                                             'TOTAL_REVENUE': 'Total Revenue',
                                                             'FEDERAL_REVENUE': 'Federal Revenue',
                                                             'STATE_REVENUE': 'State Revenue',
                                                             'LOCAL_REVENUE': 'Local Revenue',
                                                             'TOTAL_EXPENDITURE': 'Total Expenditure',
                                                             'INSTRUCTION_EXPENDITURE': 'Instructors Expenditures',
                                                             'SUPPORT_SERVICES_EXPENDITURE': 'Support Services Expenditures',
                                                             'OTHER_EXPENDITURE': 'Other Expenditures'})

In [105]:
education_finances_df.head(500)

,Year,State,District Name,Average Score,Test Subject,Grade Year,Total Revenue,Federal Revenue,State Revenue,Local Revenue,Total Expenditure,Instructors Expenditures,Support Services Expenditures,Other Expenditures
0,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,231.307525116183,Mathematics,4,1382282,146366,0,1235916,1360942,557345,379854,41841.0
1,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,263.059776256545,Mathematics,8,1382282,146366,0,1235916,1360942,557345,379854,41841.0
2,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,212.305347670353,Reading,4,1382282,146366,0,1235916,1360942,557345,379854,41841.0
3,2015,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,247.653444946724,Reading,8,1382282,146366,0,1235916,1360942,557345,379854,41841.0
4,2015,Hawaii,HAWAII PUBLIC SCHOOLS,237.895806837329,Mathematics,4,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
5,2015,Hawaii,HAWAII PUBLIC SCHOOLS,279.340145034503,Mathematics,8,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
6,2015,Hawaii,HAWAII PUBLIC SCHOOLS,215.124313046421,Reading,4,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
7,2015,Hawaii,HAWAII PUBLIC SCHOOLS,257.35043981355,Reading,8,2703683,259390,2381547,62746,2521004,1377713,835930,145560.0
8,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,228.567253872576,Mathematics,4,1300036,129874,0,1170162,1308438,559940,332997,39825.0
9,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,265.259365712508,Mathematics,8,1300036,129874,0,1170162,1308438,559940,332997,39825.0
10,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,205.613936927868,Reading,4,1300036,129874,0,1170162,1308438,559940,332997,39825.0
11,2013,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,247.739153738325,Reading,8,1300036,129874,0,1170162,1308438,559940,332997,39825.0
12,2013,Hawaii,HAWAII PUBLIC SCHOOLS,243.308618941163,Mathematics,4,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
13,2013,Hawaii,HAWAII PUBLIC SCHOOLS,281.412922288425,Mathematics,8,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
14,2013,Hawaii,HAWAII PUBLIC SCHOOLS,214.843879930676,Reading,4,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
15,2013,Hawaii,HAWAII PUBLIC SCHOOLS,259.960569546835,Reading,8,2331770,310778,1962923,58069,2345917,1283872,770643,144746.0
16,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,221.808283121753,Mathematics,4,1283071,155505,0,1127566,1297175,525185,389526,56132.0
17,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,260.46687784992,Mathematics,8,1283071,155505,0,1127566,1297175,525185,389526,56132.0
18,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,200.627987932281,Reading,4,1283071,155505,0,1127566,1297175,525185,389526,56132.0
19,2011,District of Columbia,DISTRICT OF COLUMBIA PUBLIC SCHOOLS,242.056368171996,Reading,8,1283071,155505,0,1127566,1297175,525185,389526,56132.0
20,2011,Hawaii,HAWAII PUBLIC SCHOOLS,238.82192776062,Mathematics,4,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
21,2011,Hawaii,HAWAII PUBLIC SCHOOLS,277.836211052583,Mathematics,8,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
22,2011,Hawaii,HAWAII PUBLIC SCHOOLS,213.61457117423,Reading,4,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
23,2011,Hawaii,HAWAII PUBLIC SCHOOLS,257.188010446519,Reading,8,2499513,347363,2088870,63280,2259104,1253534,786284,133810.0
24,2009,District of Columbia,DC PUBLIC SCHOOLS,219.260141025805,Mathematics,4,801008,75856,0,725152,805362,330698,370127,38514.0
25,2009,District of Columbia,DC PUBLIC SCHOOLS,253.595186871272,Mathematics,8,801008,75856,0,725152,805362,330698,370127,38514.0
26,2009,District of Columbia,DC PUBLIC SCHOOLS,201.984637739722,Reading,4,801008,75856,0,725152,805362,330698,370127,38514.0
27,2009,District of Columbia,DC PUBLIC SCHOOLS,242.490424305314,Reading,8,801008,75856,0,725152,805362,330698,370127,38514.0
28,2009,Hawaii,HAWAII PUBLIC SCHOOLS,235.679780829025,Mathematics,4,2689758,392837,2205032,91889,2318671,1402305,718309,129473.0
29,2009,Hawaii,HAWAII PUBLIC SCHOOLS,273.758606683625,Mathematics,8,2689758,392837,2205032,91889,2318671,1402305,718309,129473.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1992,Alaska,YUKON-KOYUKUK REAA,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
471,1992,Alaska,BRISTOL BAY BORO SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
472,1992,Alaska,FAIRBANKS N STAR BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
473,1992,Alaska,HAINES BOROUGH SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
474,1992,Alaska,KENAI PENINSULA BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
475,1992,Alaska,KETCHIKAN-GATEWAY BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
476,1992,Alaska,NORTHWEST ARTIC BORO SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
477,1992,Alaska,KODIAK ISLAND BORO,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
478,1992,Alaska,MATANUSKA SUSITNA,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
479,1992,Alaska,NORTH SLOPE BOROUGH SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
480,1992,Alaska,ALEUTIANS EAST BORO SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
481,1992,Alaska,LAKE AND PENINSULA BORO SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
482,1992,Alaska,UNALASKA CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
483,1992,Alaska,ANCHORAGE SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
484,1992,Alaska,DILLINGHAM CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
485,1992,Alaska,JUNEAU BOROUGH SCHOOLS DISTRICT,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
486,1992,Alaska,NOME CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
487,1992,Alaska,CRAIG CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
488,1992,Alaska,HYDABURG CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
489,1992,Alaska,KLAWOCK CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
490,1992,Alaska,SITKA BOROUGH SCHOOLS,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
491,1992,Alaska,HOONAH CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
492,1992,Alaska,PELICAN CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
493,1992,Alaska,SKAGWAY CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
494,1992,Alaska,YAKUTAT CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
495,1992,Alaska,CORDOVA CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
496,1992,Alaska,VALDEZ CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
497,1992,Alaska,ST. MARYS SCHOOL DISTRICT,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
498,1992,Alaska,KAKE CITY SCHOOL DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0
499,1992,Alaska,PETERSBURG CITY SCH DIST,0,Mathematics,4,1049591,106780,720711,222100,972488,498362,350902,0.0

In [52]:
education_finances_df.describe()

,Year,Grade Year,Total Revenue,Instructors Expenditures,Support Services Expenditures,Other Expenditures
count,47678.000000,47678.000000,4.767800e+04,4.767800e+04,4.767800e+04,47678.000000
mean,1992.022400,5.334284,7.795256e+06,4.203842e+06,2.358849e+06,133.168610
std,0.613214,1.885974,7.374191e+06,4.100572e+06,2.290069e+06,3854.796901
min,1992.000000,4.000000,5.516680e+05,2.834840e+05,1.523400e+05,0.000000
25%,1992.000000,4.000000,2.396705e+06,1.283577e+06,7.350360e+05,0.000000
50%,1992.000000,4.000000,4.993909e+06,2.598925e+06,1.478639e+06,0.000000
75%,1992.000000,8.000000,1.081469e+07,6.042936e+06,3.321276e+06,0.000000
max,2015.000000,8.000000,2.626002e+07,1.435892e+07,8.520926e+06,151243.000000

In [51]:
#extra cleaning if needed
#mask = (education_finances_df['Average Score'] == '—')
#education_finances_df['Average Score'][mask] = 0

Series([], Name: Average Score, dtype: object)

In [70]:
# try to create a graph

In [106]:
#download as a csv file for Tableau 
education_finances_df.to_csv('education.csv', index=False)

In [ ]:
DROP TABLE education

CREATE TABLE education (
	"Year" INT NOT NULL,
	"State" VARCHAR(50) NOT NULL,
	"District Name" VARCHAR(50) NOT NULL, 
	"Average Score" FLOAT NOT NULL,
	"Test Subject" VARCHAR(225) NOT NULL,
	"Grade Year" INT NOT NULL,
	"Total Revenue" FLOAT NOT NULL,
	"Instructors Expenditures" FLOAT NOT NULL,
	"Support Services Expenditures" FLOAT NOT NULL,
	"Other Expenditures" FLOAT
);


SELECT * FROM education

In [68]:
education_finances_df.dtypes

Year                               int64
State                             object
District Name                     object
Average Score                     object
Test Subject                      object
Grade Year                         int64
Total Revenue                      int64
Instructors Expenditures           int64
Support Services Expenditures      int64
Other Expenditures               float64
dtype: object

In [99]:
naep_pd[['AVG_SCORE', 'STATE']].min()

AVG_SCORE    178.557611651728
STATE                 Alabama
dtype: object

In [ ]:
Select 
"State",
"Test Subject",
"Total Revenue",
MAX("Average Score") as "Max Avg Score",
Min("Average Score") as "Min Avg Score"
from education 
Group by "Total Revenue","State", "Test Subject"
Order by "Total Revenue" DESC;

In [ ]:

--Adding new a table 
DROP TABLE education_sql

CREATE TABLE education_sql (
	"YEAR" INT NOT NULL,
	"STATE" VARCHAR(250) NOT NULL,
	"NAME" VARCHAR(250) NOT NULL, 
	"AVG_SCORE" FLOAT NOT NULL,
	"TEST_SUBJECT" VARCHAR(225) NOT NULL, 
	"TEST_YEAR" INT NOT NULL, 
	"TOTAL_REVENUE" FLOAT NOT NULL,
	"FEDERAL_REVENUE" FLOAT,
	"STATE REVENUE" FLOAT,
	"LOCAL REVENUE" FLOAT,
	"TOTAL EXPENDITURES" FLOAT NOT NULL, 
	"INSTRUCTION_EXPENDITURE" FLOAT,
	"SUPPORT_SERVICES_EXPENDITURE" FLOAT,
	"OTHER_EXPENDITURE" FLOAT);

In [ ]:
After looking at the data, there is no correlation between high funding within states and high test scores. 
California came out as the top highest state funding. Yet, it ranked 31 within the test scores. While Iowa scored 
highest in test scores and not even as high for funding.